extends ../templates/_template.pug
  
block title
  title My Page - Home

block content
  //- Desktop page
  section.page
    h1.red # Blog
     
  .div
    a(href="/") Home
    a(href="/contact") Contact