extends ./templates/_template.pug

block title
  title My Page - Home

block basicSeo
  meta(name='description' content='Home Page')
  meta(name='keywords', content='main page, home page')
  meta(name='author' content='Mario Dev')

block links
  link(href='')

block content

  //- Desktop page
  section.page
    h1 # Home page
     
  .div
    a(href="blog") Blog page

    ul#list
      li.list dd