extends ./templates/_template.pug

block title
  title My Page - Home

block basicSeo
  meta(name='description' content='Home Page')
  meta(name='keywords', content='main page, home page')
  meta(name='author' content='Mario Dev')

block content
  link(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" )


  section.page
    //- header
    include ./components/header/header.pug


