/* src/assets/styles/mixins/_mixins.scss  */

@mixin isFlex($align: center, $justify: center, $direction: row, $wrap: wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin bgImage($url, $repeat: no-repeat, $position: center, $size: initial) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

@mixin container($width: 1124, $margin: auto, $padding: 0) {
  max-width: $width + px;
  margin: $margin;
  padding: $padding;
}
