nav.catalog
  span.catalog__total Все объявления в Москве 10 520 256
  ul.catalog__list
    li.catalog__item
      a(href="#").catalog__link.link Личные вещи
        span.catalog__link_span 4 007 379
    li.catalog__item
      a(href="#").catalog__link.link Транспорт
        span.catalog__link_span 3 184 481
    li.catalog__item
      a(href="#").catalog__link.link Хобби и отдых
        span.catalog__link_span 1 081 115
    li.catalog__item
      a(href="#").catalog__link.link Для дома и дачи
        span.catalog__link_span 894 968
    li.catalog__item
      a(href="#").catalog__link.link Бытовая электроника
        span.catalog__link_span 664 999
    li.catalog__item
      a(href="#").catalog__link.link Работа
        span.catalog__link_span 265 719
    li.catalog__item
      a(href="#").catalog__link.link Недвижимость
        span.catalog__link_span 149 007
    li.catalog__item
      a(href="#").catalog__link.link Услуги
        span.catalog__link_span 142 037
    li.catalog__item
      a(href="#").catalog__link.link Для бизнеса
        span.catalog__link_span 75 524
    li.catalog__item
      a(href="#").catalog__link.link Животные
        span.catalog__link_span 55 027
