.menu 
  
  .container
    .menu__container
      ul.menu__list.menu__list_left
        li.menu__item
          a.menu__link(href="") Объявление
        li.menu__item
          a.menu__link(href="") Магазины
        li.menu__item
          a.menu__link(href="") Бизнес
        li.menu__item
          a.menu__link(href="") Помощь
      
      ul.menu__list.menu__list_right
        li.menu__item
          i.fas.fa-heart
          a.menu__link.menu__link_blue(href="") 
            i.fas.fa-heart
        li.menu__item
          a.menu__link.blue(href="") Вход и регистрация
        li.menu__item
          a.menu__link.menu__btn.bg-blue(href="") Подать объявление
