.header__menu
  ul.header__list
    li.header__item.header__item_logo
      a.header__link(href="/")
        img(src="../assets/images/icons/icon.svg", alt="").header__logo
    li.header__item
      a.header__link.link(href="/") Авто
    li.header__item
      a.header__link.link(href="/") Недвижимость
    li.header__item
      a.header__link.link(href="/") Работа
    li.header__item
      a.header__link.link(href="/") Услуги
    li.header__item
      a.header__link.link(href="/") еще...

