/* src/assets/styles/common/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
}
body {
  // @include container(2000);
  // font-family: $quicksand;
  // background: $darkslategray;
  background-color: #fff;
  color: #000;
  font: 14px/1.5 $quicksand, sans-serif;
}

.container {
  @include container(964);
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.blue {
  color: $blue;
}

.bg-blue {
  background: $blue;
}

.link {
  @include link;
}
