@import "normalize.css";

/*
  Base
*/
@import "./base/fonts";
@import "./base/normalize.scss";

/*
  Utils
*/
@import "./mixins/mixins";

@import "./utils/dimensions";
@import "./utils/colors";
@import "./utils/keyframes";

/*
  Components
*/
@import "./components/footer";
@import "./components/button";
@import "./components/link";

/*
  Layout
*/
@import "./common/page";
@import "./common/general";

/*
  Pages
*/
@import "./pages/pages";
